.title {
  padding-top: 48px;
  padding-left: 317px;
  margin: 0 auto;
}

.title h1 {
  font-size: 3.3em;
  font-weight: 600;
  letter-spacing: 5px;
}

.seconds {
  text-align: right;
  font-size: 26px;
  color: red;
  display: inline-block;
}

.seconds p {
  font-size: 190px;
  font-weight: 600;
  margin: 0;
}

.seconds h2 {
  padding-right: 11px;

}

.minutes {
  text-align: right;
  font-size: 26px;
  display: inline-block;
}

.minutes p {
  font-size: 190px;
  display: inline;
  font-weight: 600;
}

.minutes h2 {
  padding-right: 113px;
}

.hours {
  text-align: right;
  font-size: 26px;
  display: inline-block;
}

.hours p {
  font-size: 190px;
  margin: 0;
  font-weight: 600;
}

.hours h2 {
  padding-right: 114px;
}


